  <!-- Copyright -->
  <footer style="position: fixed; 
  bottom: 0px;  
  left: 0;
  width: 100%;
  background-color: rgb(17, 155, 17);
  
  text-align: center;"
  class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.lighthouselabs.ca/"> LighthouseLabs.ca</a>
    <div> Created by: DragonMess </div>
  </footer>
  <!-- Copyright -->