<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/urls">TinyApp</a>
        <a class="nav-item nav-link" href="/MyUrls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
     
          <% if(!email) {%>
            <a class="nav-item nav-link" href="/urls_login"style="position: relative;left: 0px;">Login</a>
            <a class="nav-item nav-link" href="/urls_register" style="position: relative;left: 0px;" >Register</a>
          
            <% } else{ %>  
                <form method="POST" action="/urls_logout" >
                <label for="username">Logged In As: <%=email%></label>

                <button  type="submit" class="btn .btn-link">Logout</button>
                </form>
              </div> 
         <% } %>
          
        </div>
      </div>
    </div>
  </nav>
</header>
