html

            <form class="form-inline" action="/urls_login" method="POST">
                <button type="submit" class="btn btn-warning" style="margin: 1em">Login</button>
            </form>
            <form class="form-inline" action="/urls_register" method="POST">
            <button type="register" class="btn btn-warning">Register</button>




            <form class="form-inline" action="/urls_login" method="POST">
                <button type="submit" class="btn btn-warning" style="margin: 1em">Login</button>
            </form>
            <form class="form-inline" action="/urls_register" method="POST">
            <button type="register" class="btn btn-warning">Register</button>
          </form>




          <button type="submit" class="btn btn-danger">Logout</button>